<ul class="accordion">
  <li class="accordion-item">
    <button class="accordion-item__control" aria-expanded="false">
      <span class="accordion-item__title">Для какого уровня подойдет курс?</span>
      <div class="accordion-item__icon">
        <img src="@img/icons/collapsible-close.svg" alt="cross" />
      </div>
    </button>
    <div class="accordion-item__content" aria-hidden="true">
      <p>
        Курс подходит и начинающим фотографам, которые ни разу не снимали в
        студии и хотят научиться работать со светом, и профессионалам, которые
        стремятся повысить качество своих работ и попасть на обложки.
      </p>
    </div>
  </li>
</ul>
