//COLORS
$colorWhite: #ffffff;
$colorGrey: #f5f5f7;
$colorBeigeLight: #f4f3ee;
$colorBeige: #e0ded2;
$colorGreen: #bed5ae;
$colorPrimary: #f57b51;
$colorBlack: #171717;
$colorBtnActive: #e46236;
$colorGreenDark: #6ea349;
$colorBlue: #a4c6f1;
$colorViolet: #caaaf3;

//FONTS
$defaultFont: normal normal 16px/16px "ObjectSans";
$titleFont: "FiveYearsLater", sans-serif;