.header {
  width: 100%;
  height: auto;
  position: absolute;
  top: 40px;
  left: 0;
  right: 0;
  z-index: 2;
  &__wrapper {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  &__logo {
    width: 170px;
    height: auto;
    svg {
      width: 100%;
      height: auto;
    }
  }
}