.requirements {
  width: 100%;
  background-color: #f4f3ee;
  padding: 144px 0;
  &__wrapper {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 40px 60px;
  }
  &__title {
    max-width: 854px;
    font-family: "FiveYearsLater", sans-serif;
    font-weight: 400;
    font-size: 50px;
    line-height: 63px;
    color: #171717;
    grid-column: span 2;
  }
  &__list {
    position: relative;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    align-self: center;
    grid-column: 1;
    grid-row: 2;
    .list__line {
      position: absolute;
      left: 15px;
      top: 15px;
      border-left: 2px dashed #f57b51;
      height: 85%;
    }
    .list__item {
      width: 100%;
      height: auto;
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      position: relative;
      box-sizing: border-box;
      .item__icon {
        margin-right: 16px;
        min-width: 32px;
        height: 32px;
      }
      .item__text {
        font-size: 24px;
        line-height: 31px;
        color: #171717;
      }
      &:not(:last-child) {
        margin-bottom: 40px;
      }
    }
  }
  &__image {
    grid-column: 2;
    grid-row: 2;
    img {
      width: 100%;
      height: auto;
      object-fit: cover;
      object-position: center;
    }
  }

  @media screen and (max-width: 576px) {
    padding: 72px 0;
    &__wrapper {
      grid-template-columns: repeat(1, 1fr);
      grid-gap: 24px 0;
    }
    &__title {
      max-width: none;
      font-size: 32px;
      line-height: 42px;
    }
    &__list {
      grid-row: auto;
      .list__line {
        left: 11.5px;
        height: 75%;
      }
      .list__item {
        .item__icon {
          margin-top: 5px;
          min-width: 24px;
          width: 24px;
          height: 24px;
        }
      }
    }
    &__image {
      grid-column: 1;
      grid-row: auto;
    }
  }
}
